gradle/wsdl/src/main/wsdl/ConvertVolume.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.webserviceX.NET/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.webserviceX.NET/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET/">
      <s:element name="ChangeVolumeUnit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VolumeValue" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="fromVolumeUnit" type="tns:Volumes" />
            <s:element minOccurs="1" maxOccurs="1" name="toVolumeUnit" type="tns:Volumes" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="Volumes">
        <s:restriction base="s:string">
          <s:enumeration value="acreFoot" />
          <s:enumeration value="acreFootUSSurvey" />
          <s:enumeration value="acreInch" />
          <s:enumeration value="barrelUKwine" />
          <s:enumeration value="barrelUK" />
          <s:enumeration value="barrelUSDry" />
          <s:enumeration value="barrelUSFederal" />
          <s:enumeration value="barrelUSLiquid" />
          <s:enumeration value="barrelUSPetroleum" />
          <s:enumeration value="barrelUSSpirits" />
          <s:enumeration value="boardFoot" />
          <s:enumeration value="bucketUK" />
          <s:enumeration value="bushelUK" />
          <s:enumeration value="bushelUS" />
          <s:enumeration value="dry" />
          <s:enumeration value="centiliter" />
          <s:enumeration value="cordFirewood" />
          <s:enumeration value="cordFootTimber" />
          <s:enumeration value="cubicCentimeterCC" />
          <s:enumeration value="cubicCubitAncientEgypt" />
          <s:enumeration value="cubicDecimeter" />
          <s:enumeration value="cubicDekameter" />
          <s:enumeration value="cubicFoot" />
          <s:enumeration value="cubicInch" />
          <s:enumeration value="cubicKilometer" />
          <s:enumeration value="cubicMeter" />
          <s:enumeration value="cubicMile" />
          <s:enumeration value="cubicMillimeter" />
          <s:enumeration value="cubicYard" />
          <s:enumeration value="cupCanada" />
          <s:enumeration value="cupMetric" />
          <s:enumeration value="cupUS" />
          <s:enumeration value="deciliter" />
          <s:enumeration value="dekaliter" />
          <s:enumeration value="fifth" />
          <s:enumeration value="gallonUK" />
          <s:enumeration value="gallonUSDry" />
          <s:enumeration value="gallonUSLiquid" />
          <s:enumeration value="gillUK" />
          <s:enumeration value="gillUS" />
          <s:enumeration value="hectareMeter" />
          <s:enumeration value="hectoliter" />
          <s:enumeration value="hogsheadUK" />
          <s:enumeration value="hogsheadUS" />
          <s:enumeration value="jigger" />
          <s:enumeration value="kiloliter" />
          <s:enumeration value="liter" />
          <s:enumeration value="measureAncientHebrew" />
          <s:enumeration value="megaliter" />
          <s:enumeration value="microliter" />
          <s:enumeration value="milliliter" />
          <s:enumeration value="ounceUKLiquid" />
          <s:enumeration value="ounceUSLiquid" />
          <s:enumeration value="peckUK" />
          <s:enumeration value="peckUS" />
          <s:enumeration value="pintUK" />
          <s:enumeration value="pintUSDry" />
          <s:enumeration value="pintUSLiquid" />
          <s:enumeration value="pipeUK" />
          <s:enumeration value="pipeUS" />
          <s:enumeration value="pony" />
          <s:enumeration value="quartGermany" />
          <s:enumeration value="quartAncientHebrew" />
          <s:enumeration value="quartUK" />
          <s:enumeration value="quartUSDry" />
          <s:enumeration value="quartUSLiquid" />
          <s:enumeration value="quarterUKLiquid" />
          <s:enumeration value="scrupleUKLiquid" />
          <s:enumeration value="stere" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ChangeVolumeUnitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangeVolumeUnitResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="double" type="s:double" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ChangeVolumeUnitSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeVolumeUnit" />
  </wsdl:message>
  <wsdl:message name="ChangeVolumeUnitSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeVolumeUnitResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeVolumeUnitHttpGetIn">
    <wsdl:part name="VolumeValue" type="s:string" />
    <wsdl:part name="fromVolumeUnit" type="s:string" />
    <wsdl:part name="toVolumeUnit" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangeVolumeUnitHttpGetOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:message name="ChangeVolumeUnitHttpPostIn">
    <wsdl:part name="VolumeValue" type="s:string" />
    <wsdl:part name="fromVolumeUnit" type="s:string" />
    <wsdl:part name="toVolumeUnit" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangeVolumeUnitHttpPostOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:portType name="VolumeUnitSoap">
    <wsdl:operation name="ChangeVolumeUnit">
      <wsdl:input message="tns:ChangeVolumeUnitSoapIn" />
      <wsdl:output message="tns:ChangeVolumeUnitSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="VolumeUnitHttpGet">
    <wsdl:operation name="ChangeVolumeUnit">
      <wsdl:input message="tns:ChangeVolumeUnitHttpGetIn" />
      <wsdl:output message="tns:ChangeVolumeUnitHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="VolumeUnitHttpPost">
    <wsdl:operation name="ChangeVolumeUnit">
      <wsdl:input message="tns:ChangeVolumeUnitHttpPostIn" />
      <wsdl:output message="tns:ChangeVolumeUnitHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VolumeUnitSoap" type="tns:VolumeUnitSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChangeVolumeUnit">
      <soap:operation soapAction="http://www.webserviceX.NET/ChangeVolumeUnit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VolumeUnitSoap12" type="tns:VolumeUnitSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChangeVolumeUnit">
      <soap12:operation soapAction="http://www.webserviceX.NET/ChangeVolumeUnit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VolumeUnitHttpGet" type="tns:VolumeUnitHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ChangeVolumeUnit">
      <http:operation location="/ChangeVolumeUnit" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VolumeUnitHttpPost" type="tns:VolumeUnitHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ChangeVolumeUnit">
      <http:operation location="/ChangeVolumeUnit" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VolumeUnit">
    <wsdl:port name="VolumeUnitSoap" binding="tns:VolumeUnitSoap">
      <soap:address location="http://www.webservicex.net/convertVolume.asmx" />
    </wsdl:port>
    <wsdl:port name="VolumeUnitSoap12" binding="tns:VolumeUnitSoap12">
      <soap12:address location="http://www.webservicex.net/convertVolume.asmx" />
    </wsdl:port>
    <wsdl:port name="VolumeUnitHttpGet" binding="tns:VolumeUnitHttpGet">
      <http:address location="http://www.webservicex.net/convertVolume.asmx" />
    </wsdl:port>
    <wsdl:port name="VolumeUnitHttpPost" binding="tns:VolumeUnitHttpPost">
      <http:address location="http://www.webservicex.net/convertVolume.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>