gradle/wsdl/src/main/wsdl/ConvertCooking.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.webserviceX.NET/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.webserviceX.NET/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET/">
      <s:element name="ChangeCookingUnit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CookingValue" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="fromCookingUnit" type="tns:Cookings" />
            <s:element minOccurs="1" maxOccurs="1" name="toCookingUnit" type="tns:Cookings" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="Cookings">
        <s:restriction base="s:string">
          <s:enumeration value="drop" />
          <s:enumeration value="dash" />
          <s:enumeration value="pinch" />
          <s:enumeration value="milliliterPerCC" />
          <s:enumeration value="deciliter" />
          <s:enumeration value="coffeeSpoon" />
          <s:enumeration value="fluidDram" />
          <s:enumeration value="teaspoonUS" />
          <s:enumeration value="teaspoonUK" />
          <s:enumeration value="tablespoonUS" />
          <s:enumeration value="tablespoonUK" />
          <s:enumeration value="fluidOunceUS" />
          <s:enumeration value="fluidOunceUK" />
          <s:enumeration value="cupUS" />
          <s:enumeration value="cubicInch" />
          <s:enumeration value="gillUS" />
          <s:enumeration value="gillUK" />
          <s:enumeration value="pintUS" />
          <s:enumeration value="pintUK" />
          <s:enumeration value="quartUS" />
          <s:enumeration value="liter" />
          <s:enumeration value="gallonUS" />
          <s:enumeration value="gallonUK" />
          <s:enumeration value="TwoPointFiveCan" />
          <s:enumeration value="TenCan" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ChangeCookingUnitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangeCookingUnitResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="double" type="s:double" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ChangeCookingUnitSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeCookingUnit" />
  </wsdl:message>
  <wsdl:message name="ChangeCookingUnitSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeCookingUnitResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeCookingUnitHttpGetIn">
    <wsdl:part name="CookingValue" type="s:string" />
    <wsdl:part name="fromCookingUnit" type="s:string" />
    <wsdl:part name="toCookingUnit" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangeCookingUnitHttpGetOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:message name="ChangeCookingUnitHttpPostIn">
    <wsdl:part name="CookingValue" type="s:string" />
    <wsdl:part name="fromCookingUnit" type="s:string" />
    <wsdl:part name="toCookingUnit" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangeCookingUnitHttpPostOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:portType name="CookingUnitSoap">
    <wsdl:operation name="ChangeCookingUnit">
      <wsdl:input message="tns:ChangeCookingUnitSoapIn" />
      <wsdl:output message="tns:ChangeCookingUnitSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CookingUnitHttpGet">
    <wsdl:operation name="ChangeCookingUnit">
      <wsdl:input message="tns:ChangeCookingUnitHttpGetIn" />
      <wsdl:output message="tns:ChangeCookingUnitHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CookingUnitHttpPost">
    <wsdl:operation name="ChangeCookingUnit">
      <wsdl:input message="tns:ChangeCookingUnitHttpPostIn" />
      <wsdl:output message="tns:ChangeCookingUnitHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CookingUnitSoap" type="tns:CookingUnitSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChangeCookingUnit">
      <soap:operation soapAction="http://www.webserviceX.NET/ChangeCookingUnit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CookingUnitSoap12" type="tns:CookingUnitSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChangeCookingUnit">
      <soap12:operation soapAction="http://www.webserviceX.NET/ChangeCookingUnit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CookingUnitHttpGet" type="tns:CookingUnitHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ChangeCookingUnit">
      <http:operation location="/ChangeCookingUnit" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CookingUnitHttpPost" type="tns:CookingUnitHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ChangeCookingUnit">
      <http:operation location="/ChangeCookingUnit" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CookingUnit">
    <wsdl:port name="CookingUnitSoap" binding="tns:CookingUnitSoap">
      <soap:address location="http://www.webservicex.net/ConvertCooking.asmx" />
    </wsdl:port>
    <wsdl:port name="CookingUnitSoap12" binding="tns:CookingUnitSoap12">
      <soap12:address location="http://www.webservicex.net/ConvertCooking.asmx" />
    </wsdl:port>
    <wsdl:port name="CookingUnitHttpGet" binding="tns:CookingUnitHttpGet">
      <http:address location="http://www.webservicex.net/ConvertCooking.asmx" />
    </wsdl:port>
    <wsdl:port name="CookingUnitHttpPost" binding="tns:CookingUnitHttpPost">
      <http:address location="http://www.webservicex.net/ConvertCooking.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>